@charset "UTF-8";
/* CSS Document */

/************************************************/
/*Set up the navigation menu bar*/
.navigation{
	width: 100%;
	overflow: hidden;
	display: block;
	box-sizing: inherit;
	font-family: courier;
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}
/*Set before and after for the navigation*/
.navigation::before, .navigation::after {
	box-sizing: inherit;
}
/************************************************/
/*The color of the navigation*/
.blackbar {
	color: white!important;
	background-color: black!important;
}
/************************************************/
/*Items inside the navigattion bar*/
.navigation .bar-item {
	padding:12px 16px;
	float: left;  /*Set the location of the navigation left or right*/
	background-color:inherit;
	color:inherit;
	width:auto;
	border:none;`
	outline:none;
	display:block;
}
/************************************************/
/*The button inside the navigation bar*/
.navigation .button {
	background-color:inherit;
	color:inherit;
	white-space:normal
}
.button {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none!important;
	color: #fff;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
.button {
	color:#000;
	background-color:#f1f1f1;
	padding:8px 16px
}
.button:hover{
	color:#000!important;
	background-color:#ccc!important
}
.button {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.button:disabled {
	cursor:not-allowed;
	opacity:0.3
}
/************************************************/
/*Set the font size bigger*/
.setLarge {
	font-size:24px!important
}
/************************************************/
/*Control the style of option scroll list*/
#scroll_option {
	font-size: 19px;
	font-family: courier;
}
/************************************************/
/*Manager the button*/
#goButton {
	background-color: green;
	font-size: 17px;
	font-family: courier;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 12px;
}
/************************************************/
/*Manager about me button*/
#myselfButton {
	background-color: green;
	font-family: courier;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 12px;
}
/************************************************/
#calculateButton {
	background-color: green;
	font-family: courier;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 12px;
}
/************************************************/
/*Manager the first introduction word in website "The Wreck -GT"*/
.Intro {
	padding: 0.01em 16px;
}
/************************************************/
/*Manage the time in the middle*/
#time {
	color: white;
	font-size: 30px;
	font-family: courier;
	text-shadow: 3px 2px green;
}
/************************************************/
/*Set the text always being center*/
.makeCenter {
	text-align: center!important;
}

.content {
	max-width: 980px;
	margin: auto;
}
/*Set the letter spacing betwen word*/
.wordWide {
	font-family: courier;
	letter-spacing: 6px;
}

/*Manager the opacity in the website*/
.opacity {
	opacity:0.60;
	-webkit-backface-visibility:hidden;
	font-family: courier;
	font-size: 17px;
}
/************************************************/
/*Body css style control panel */
body {
	width: 100%;
	height: 100%;
	padding: 0px;;
	font-family: courier;
	margin: 0px;
	background-color: #34495e;
}

html{
	box-sizing:border-box;
	overflow-x:hidden;
}
html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
*,*:before,*:after{
	box-sizing:inherit;
}
/*Control entire font of website*/
html,body{
	font-family:courier;
	font-size: 18px;
	line-height:1.60;
	}
.wrap {
	height: auto;
	margin: 0 auto -80px;
	min-height: 100%;
	padding: 0 0 80px;
	box-sizing: border-box;
	overflow: hidden;
}
/************************************************/
/*Make the border line*/
.borderLine {
	padding: 1px;
	background-color: black;
}
/************************************************/
/*Set up for the headding*/
h1,h2,h3,h4,h5 {
	font-weight: 400;
	font-family: courier;
	margin: 10px 0;
}
/************************************************/
/*Manager how to make circle picture*/
.makePicCircle {
 	border-radius: 50%;
    display: block;
    margin: 0 auto;
}
/************************************************/
/* Set up the column control panel*/
.Column {
	float: left;
	padding: 10px;
	height: 710px;
	}
/************************************************/
/*Set up for the first small column*/
.left {
	width: 30%;
}
.firstColText {
	text-align: center;
	color: white;
	font-family: courier;
	font-size: 30px;
	text-shadow: 3px 2px red;
}
.firstRolText {
	text-align: center;
	font-size: 17px;
	font-family: courier;
	color: black;
}
/************************************************/
/*Control the type writer*/
#controlType {
	font-size: 18px;
	color: white;
}
/************************************************/
/*Set the work align in the center*/
.centerAlign {
	text-align: center;
}
/************************************************/
/*Line spacing between words*/
.makelargerSpacing {
	line-height: 1.60;
}
/************************************************/
/*Set align for the first col*/
.wrapper {
	text-align: center;
}
/************************************************/
/*The third column on the right side*/
.right {
	width: 30%;
}
.thirdColText {
	text-align: center;
	font-family: courier;
	color: white;
	font-size: 30px;
}
.thirdRolText {
	text-align: center;
	font-size: 17px;
	font-family: courier;
	color: black;
}
/************************************************/
/*Add the text shadown effect */
.thirdColText {
text-shadow: 3px 2px red;
}
/************************************************/
/*The middle column in the middle*/
.middle {
	width: 40%;
	/* Add the border to the middle box*/
/*	border-top: 4px solid red; 
	border-bottom: 4px solid red;
	border-left: 4px solid red;
	border-right: 4px solid red;*/
}
.middleCol {
	width: 40%;
}
.secondRolText {
	text-align: center;
	font-family: courier;
	font-size: 17px;
	color: black;
}
.secondColText {
	text-align: center;
	font-family: courier;
	font-size: 30px;
}
/************************************************/
/*Set the border for all inputs*/
input[type=text], input[type=number] {
	border: 1px solid red;
}
/************************************************/
/*Manager the drop down option menu*/
select {
	background-color: #f1f1f1;
	border-radius: 5px;
	border: none;
	padding: 16px 20px;
}
/************************************************/
/*Add the effect to the list*/
ul {
    list-style-type: square;
}
/************************************************/
/*Control the last column right font 'tip to success'*/
#tip {
	color: white;
	font-family: courier;
	font-size: 18px;
	line-height: 50px;
}
/************************************************/
/*Footer control panel*/
.footer {
	background-color: black;
	color: white;
	font-family: courier;
	text-align: center;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	height: 60px;
	padding-top: 15px;
	display: block;
	margin-top: 20px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}
/************************************************/
